{% extends 'base.html.twig' %}

{#{% block title %}{% endblock %}#}

{% block body %}
    <h1>Venues</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Street</th>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>
        {% for venue in venues %}

            <tr>
                <td>{{ venue.name }}</td>
                <td>{{ venue.street }}</td>
                <td>{{ venue.city.name }}</td>
                <td>{{ venue.latitude }}</td>
                <td>{{ venue.longitude }}</td>

                <td>
                    <button>Edit</button>
                    <button>Remove</button>
                </td>
            </tr>

        {% endfor %}
        <tbody>


        </tbody>
    </table>
{% endblock %}

