{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="row align-items-center mb-3">
        <h1 class="col-3">Event index</h1>
        <a class="btn btn-secondary col-sm-1" href="{{ path('app_user_new') }}">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>StartDateTime</th>
                <th>Duration</th>
                <th>RegistrationDeadline</th>
                <th>Current/max participants</th>
                <th>Status</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.startDateTime ? event.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.duration }}</td>
                <td>{{ event.registrationDeadline ? event.registrationDeadline|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.participants | length }} / {{ event.maxParticipants }}</td>
                <td>{{ event.status.name }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
{#                    <a href="#">cancel</a>#}
                    {% if (event.status.name == 'OPEN') or (event.status.name == 'CREATED') %}
                        {% include'event/_cancel_form.html.twig' with {'button': 'false', 'disabled': 'false'} %}

                        {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-secondary col-3" href="#top">Back to TOP</a>
    <a class="btn btn-primary" href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
