{{ form_start(form) }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3">
                {{ form_label(form.username) }}
                {{ form_widget(form.username)}}
            </div>
            <div class="mb-3">
                {{ form_label(form.password) }}
                {{ form_widget(form.password)}}
            </div>
            <div class="mb-3">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName)}}
            </div>
            <div class="mb-3">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName)}}
            </div>
            <div class="mb-3">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone)}}
            </div>
            <div class="mb-3">
                {{ form_label(form.email) }}
                {{ form_widget(form.email)}}
            </div>
        </div>
        <div class="col-sm-6 mt-4">
            <div>
                {{ form_label(form.administrator) }}
                {{ form_widget(form.administrator)}}
            </div>
            <div class="mb-3">
                {{ form_label(form.active) }}
                {{ form_widget(form.active)}}
            </div>
            <div class="mb-3">
                {{ form_label(form.site) }}
                {{ form_widget(form.site)}}
            </div>
            <div class="mb-3">
                {{ form_row(form.image)}}
                {% if form.vars.value.filename!=null %}
                    <img src="{{ asset(app_images_user_directory ~'/' ~form.vars.value.filename) }}"
                         class="" alt="image"/>
                    {{ form_row(form.deleteImage) }}
                {% endif %}
            </div>
        </div>
    </div>
    <button class="btn btn-secondary">{{ button_label|default('Save') }}</button>
</div>


{{ form_end(form) }}
