{% extends 'base.html.twig' %}

{#{% block title %}{% endblock %}#}

{% block body %}
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Site</th>
                <th>Active</th>
                <th>Is admin</th>
                <th>Role(s)</th>
            </tr>
        </thead>
                {% for user in users %}
{#                    <a href="">#}
                    <tr>
                        <td><a href="{{ path('user_detail',{'id':user.id}) }}">{{ user.username }}</a></td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.site.name }}</td>
                        <td>{{ user.active ? 'oui' : 'non'}}</td>
                        <td>{{ user.administrator ? 'x' : '-'}}</td>
                        <td>{{user.roles|join(', ')|replace({'ROLE_':''}) }}</td>
                    </tr>
{#                    </a>#}
                {% endfor %}
        <tbody>


        </tbody>
    </table>


{% endblock %}

